In [12]:
import pickle
import pandas
import torch
import numpy as np

In [8]:
path = './JGRM_DATASET/chengdu/chengdu_1101_1115_data_sample10w.pkl'
with open(path, 'rb') as file:
    derp = pandas.read_pickle(file)
type(derp)

pandas.core.frame.DataFrame

In [9]:
derp.columns

Index(['tid', 'opath_list', 'cpath_list', 'tm_list', 'total_length', 'speed',
       'acceleration', 'angle_delta', 'interval', 'dist', 'lat_list',
       'lng_list', 'start_time', 'road_timestamp', 'road_interval',
       'total_time', 'route_length', 'gps_length', 'flag'],
      dtype='object')

In [10]:
derp.describe(include='all')

,tid,opath_list,cpath_list,tm_list,total_length,speed,acceleration,angle_delta,interval,dist,lat_list,lng_list,start_time,road_timestamp,road_interval,total_time,route_length,gps_length,flag
count,100000,100000,100000,100000,100000.000000,100000,100000,100000,100000,100000,100000,100000,1.000000e+05,100000,100000,100000.000000,100000.00000,100000.000000,100000.00000
unique,99473,99354,66047,99353,NaN,100000,100000,100000,100000,100000,99353,99353,NaN,99355,99355,NaN,NaN,NaN,NaN
top,e63a09607bec41bff634203ee93c4d36,"[3715, 3715, 3715, 3715, 3715, 3746, 3746, 961...","[6386, 1506, 53, 5812, 6210, 5448, 59, 57, 373...","[1541552738.0, 1541552741.0, 1541552744.0, 154...",NaN,"[nan, 6.3732, 3.5285, 5.162, 5.6261, 2.4208, 5...","[nan, nan, -9.4822, 5.445, 1.547, -10.6842, 10...","[nan, nan, 24.1921, 27.0045, 1.6318, 34.9269, ...","[nan, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, ...","[nan, 19.1196, 10.5854, 15.486, 16.8784, 7.262...","[30.72638, 30.72608, 30.72578, 30.7255, 30.725...","[104.07493, 104.07493, 104.07492, 104.07489, 1...",NaN,"[1541552738.0, 1541552753.0, 1541552759.0, 154...","[12.0, 4.0, 18.0, 16.0, 9.0, 3.0, 0.0, 15.0, 2...",NaN,NaN,NaN,NaN
freq,2,3,440,3,NaN,1,1,1,1,1,3,3,NaN,3,3,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2829.158655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.541599e+09,NaN,NaN,426.307360,15.25757,139.675710,7.18453
std,NaN,NaN,NaN,NaN,1674.573305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.186278e+05,NaN,NaN,152.085424,3.95038,48.427278,3.68321
min,NaN,NaN,NaN,NaN,90.644718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.541030e+09,NaN,NaN,60.000000,11.00000,21.000000,1.00000
25%,NaN,NaN,NaN,NaN,1763.463891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.541320e+09,NaN,NaN,313.000000,12.00000,103.000000,4.00000
50%,NaN,NaN,NaN,NaN,2343.231894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.541637e+09,NaN,NaN,411.000000,14.00000,135.000000,8.00000
75%,NaN,NaN,NaN,NaN,3255.176539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.541851e+09,NaN,NaN,528.000000,17.00000,173.000000,10.00000
max,NaN,NaN,NaN,NaN,13157.946360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.542154e+09,NaN,NaN,6863.000000,46.00000,255.000000,13.00000

In [36]:
max(derp.index),min(derp.index)

(1714652, 8)

In [48]:
sample, *_ = derp.iloc[8],
len(sample['opath_list']), sample['gps_length'], len(sample['lat_list'])

(189, np.int64(189), 189)

In [14]:
path = './JGRM_DATASET/chengdu/init_w2v_road_emb.pt'
with open(path, 'rb') as file:
    herp = torch.load(file, map_location=torch.device('cpu'))
type(herp)
herp = herp['init_road_embd']

dict

In [18]:
herp.shape, herp.mean(), herp.std(), herp.min(), herp.max()

(torch.Size([6450, 128]),
 tensor(0.0041),
 tensor(0.2679),
 tensor(-1.0994),
 tensor(1.0561))

In [20]:
path = './JGRM_DATASET/chengdu/edge_geometry.csv'
with open(path, 'rb') as file:
    csv_file = pandas.read_csv(file)
type(csv_file)

pandas.core.frame.DataFrame

In [21]:
csv_file.describe(include='all')

               fid                                           geometry
count   6450.00000                                               6450
unique         NaN                                               6423
top            NaN  LINESTRING (104.079687 30.65743, 104.080478 30...
freq           NaN                                                  2
mean    3224.50000                                                NaN
std     1862.09895                                                NaN
min        0.00000                                                NaN
25%     1612.25000                                                NaN
50%     3224.50000                                                NaN
75%     4836.75000                                                NaN
max     6449.00000                                                NaN

In [22]:
path = './JGRM_DATASET/chengdu/transition_prob_mat.npy'
with open(path, 'rb') as file:
    np_file = np.load(file)
type(np_file)

numpy.ndarray

In [23]:
np_file.shape, np_file.mean(), np_file.std(), np_file.min(), np_file.max()

((6450, 6450),
 np.float64(0.0001517697253770807),
 np.float64(0.010434349368238038),
 np.float64(0.0),
 np.float64(1.0))

In [24]:
1/6450

0.0001550387596899225